.container-signin {
  background: rgb(36, 25, 216);
  background: linear-gradient(
    90deg,
    rgba(36, 25, 216, 1) 0%,
    rgba(177, 109, 169, 0.9735760515143558) 35%,
    rgba(168, 18, 151, 1) 100%
  );
  padding: 160px 350px 160px 360px;
  height: 100%;
}
.form-container {
  display: flex;
  gap: 100px;
  background-color: white;
  width: 600px;
  height: 400px;
}
.left-container-signin {
  width: 40%;
  padding: 60px 30px 40px 30px;
}
.left-container-signin img {
  height: 250px;
  width: 250px;
}
.right-container-signin h3 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.7rem;
}

.right-container-signin {
  padding: 50px 10px 10px 10px;
}
.right-container-signin input {
  margin-bottom: 18px;
  flex: 1;
  padding: 10px;
  background-color: rgb(251, 250, 250);
}
.right-container-signin input:focus {
  outline: none; /* Remove default outline */
  border-color: #007bff; /* Change border color when input is focused */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.form-container p a {
  text-decoration: none;
}
.btn-signin {
  background-color: rgb(127, 163, 127);
  border: none;
  padding: 10px 70px 10px 70px;
  border-radius: 30px;
  margin-bottom: 20px;
  color: white;
}
.btn-signin:hover {
  background-color: rgb(39, 10, 10);
  color: white;
  transition: 0.5s ease-in-out;
}
