.container-signup {
  background-color: white;
  height: 600px;
  width: 100%;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-container-form {
  padding: 50px;
  /* border: 1px solid red; */
  height: 400px;
  width: 700px;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: -1px 1px 18px 8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 1px 18px 8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 18px 8px rgba(0, 0, 0, 0.75);
}
.inputs-signup {
  /* border: none; */
  /* border-bottom: 1px solid red; */
  padding: 4px;

}
.password-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputs-signup:focus {
  border: none;
  box-shadow: none;
}
.inputs-signup:active {
  border: none;
}
.aggreement-signup {
  display: flex;
  justify-content: center;
  text-align: center;
}
.icons-signup{
  height: 23px;
  width: 23px;
  margin-top:20px;
}
